<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <label for="first">First Name:</label>
  <input id="first" type="text" name="first">

  <label for="last">Last Name:</label>
  <input id="last" type="text" name="last">

  <label for="email">Email:</label>
  <input id="email" type="email" name="email">

  <label for="address1">Address 1:</label>
  <input id="address1" type="text" name="address1">

  <label for="address2">Address 2:</label>
  <input id="address2" type="text" name="address2">

  <label for="city">City:</label>
  <input id="city" type="text" name="city">

  <label for="state">State:</label>
  <input id="state" type="text" name="state">

  <label for="zip">Zip:</label>
  <input id="zip" type="text" name="zip">

  <label for="phone">Phone Number:</label>
  <input id="phone" type="text" name="phone">

  <button type="submit" value="Sign Me Up!">Sign Me Up!</button>
</form>
